.bg {
    display: flex;
    width: 1240px;
    padding: 64px 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    border-radius: 48px;
    background: #FFF;
    box-shadow: 0px 0px 10.9px 0px rgba(180, 191, 209, 0.27);
    margin: 100px;
    align-self: center;
}