.menu{
    display: flex ;
    width: 149px;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px ;
    position: absolute;
    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(101, 110, 123, 0.26);
}