.banner-v1 h1 {
    line-height: 76px;
}

.transparent-bg {
    height: 138px;
    background: linear-gradient(180deg, rgb(249 247 251 / 0%) 12.88%, rgb(249 247 251) 63.45%);
    bottom: -50px;
}

.shadow-d {
    border-radius: 24px !important;
    background: #FFF !important;
    box-shadow: 0px 1px 34px 0px rgba(123, 123, 123, 0.15) !important;
}

.shadow-e {
    border-radius: 32px !important;
    border: 1px solid var(--Stroke, #64108F) !important;
}

.shadow-f {
    border-radius: 24px !important;
    background: var(--White, #FFF) !important;

}

.avatar-header img {
    float: left;
}

.bg-steps {
    border-radius: 30px;
    background: var(--Light-Purple, #F6E3FF);

}

@media (max-width: 767px) {
    br {
        display: none;
    }

    .banner-v1 h1 {
        line-height: normal;
        font-size: 32px;
    }

    .banner-v1 p {
        font-size: 16px;
    }

}