.banner-v1 h1 {
    line-height: 76px;
}

.transparent-bg {
    height: 132px;
    background: linear-gradient(180deg, rgba(249, 247, 251, 0.00) 12.88%, rgba(249, 247, 251, 0.50) 63.45%);
    bottom: -42px;
}

.shadow-d {
    border-radius: 24px !important;
    background: #FFF !important;
    box-shadow: 0px 1px 34px 0px rgba(123, 123, 123, 0.15) !important;
}

.shadow-e {
    border-radius: 32px !important;
    border: 1px solid var(--Stroke, #D9D9EB) !important;
    background: var(--Light-Purple, #F6E3FF) !important;

}

.shadow-f {
    border-radius: 24px !important;
    background: var(--White, #FFF) !important;

}

.avatar-header img {
    float: left;
}

.bg-steps {
    border-radius: 30px;
    background: var(--purple, #BFB9FF);
}

@media (max-width: 767px) {
    br {
        display: none;
    }

    .banner-v1 h1 {
        line-height: normal;
        font-size: 32px;
    }

    .banner-v1 p {
        font-size: 16px;
    }

}