.bg {
    width: 100%;
    padding: 48px 100px;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    gap: 60px;
    flex-direction: column;
}
.card {
    width: 378px;
    height: 197px;
    border-radius: 24px;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 15px 0px rgba(214, 190, 229, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    padding: 22px;
}